.well {
  background-image: url("../img/billmurray.jpg");
  background-position: center;
  background-size: cover;
  color: #ebeeba;
  border-color: gray;
  text-shadow: 1px 1px black;
  margin-left: 0;
  margin-right: 0;
}

body {
  background-color: #544d5e;
}

.panel {
  background-color: rgba(116,58,26,0.5);
}

.panel-heading {
  background-color: #a17c45;
  color: #ebeeba;
  text-shadow: 1px 1px black;
}

.panel-body {
  color: #ebeeba;
  text-shadow: 1px 1px black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color:#a27aa9;
  color: #c4c4c4;
}

.nav a {
  color: #ebeeba;
}


ol {
  color: #ebeeba;
  text-shadow: 1px 1px black;
}
 p {
   color: #ebeeba;
   text-shadow: 1px 1px black;
 }

#homepage-blurb {
  padding-left: 10%;
  margin-top: 15px;
}

.hobbiesimgl {
  float: left;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.hobbiesimgr {
  float: right;
  height: 200px;
}


.panel-body p {
  padding: 10px;
}

span {
  font-style: oblique;
  font-weight: bold;
}

.contactimg {
    opacity: 1.0;
    width: 25%;
    margin: 15%;
}

.contactimg:hover {
    opacity: 0.5;
}

.panel-body ul {
  line-height: 2em;
}

.panel-footer {
  
}

#homepage-img {
  padding-left: 5%;
  float: left;
  padding-right: 5%;
}
